.portfolio{
    padding-top: 5rem;
    text-align: center;
    color: var(--clr-slate400);
 }
.portfolio_text{
    margin-bottom: 1rem;
}
 .portfolio_text p{
    color: var(--clr-slate800);
 }

.portfolio_content{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 2rem 0;
    
}
.row{
   text-align: left;
   box-shadow: 0 5px 5px rgba(225, 29, 72, 0.5),
   0 1px 1px rgba(225, 29, 72, 0.5), 0 0 50px -30px var(--clr-rose);
   border-radius: 8px;
   
    
}
.layers{
    padding: 1rem ;
    /* background: var(--clr-slate800); */
    border-radius: 8px;
}
.layers h5{ 
    text-align: center;
    font-size: var(--size-base);
    font-weight: 600;
    margin-bottom: .4rem;
}
.porfolio__img{
    height: fit-content;
    border-radius: 8px;
}


.layers p {
    text-align: center;
    color: var(--clr-slate400);
    font-size: var(--size-xs);
}
.portfolio_more_btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    border: 2px solid var(--clr-slate400);
    color:var(--clr-slate400);
    padding: 0.5em 1em;
    border-radius: 6px;
    
  } 
  
/* xxs */
@media(min-width: 320px){

}

/* xs */
/* @media (min-width: 480px) {} */

/* sm */
@media (min-width: 640px) {
    .portfolio_content{
        grid-template-columns: 1fr 1fr;
    }
} 

/* md */
@media (min-width: 768px) {} 

/* lg */
@media (min-width: 1024px) {
    
    .portfolio_text h2{
        font-size: var(--size-4xl);
     }
    .row{
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(225, 29, 72, 0.5),
      0 1px 1px rgba(225, 29, 72, 0.5), 0 0 50px -30px var(--clr-rose);
    }
    .layers{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(142, 8, 37, 0.5), black);
        position: absolute;
        border-radius: 8px;
        left: 0; 
        bottom: 0;
        overflow: hidden;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
        padding:0 4rem;
        text-align: center;
      
       
        
       
        transition: height 0.5s;
    }
    .layers h5{
        font-size: var(--size-4xl);
        font-weight: 600;
    }
    .portfolio__img{
        transition: transform 0.5s;
    }
    .row:hover .portfolio__img{
        transform: scale(1.1);
    }
    .row:hover .layers{
        height: 100%;
        opacity: 1;
    }

   
      
       .portfolio_more_btn:hover {
        transform: scale(1.1);
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */